html {
    color: #4a4a4a;
    border-style: groove; /*creating a line on the border*/
}

body {
    margin: 0 auto; /*creating full width*/
    font-family: 'Quattrocento Sans', sans-serif;
}

/* header section */

header {
    display: inline-flex;
    margin-left: 24px;
    margin-right: 24px;
    justify-content: space-between;
    height: 64px;
    flex-direction: row;
    align-items: center;
}

header img {
    height: 64px; /*size of the icon*/
}

.title {
    display: inline-flex;
}

.title h2 {
    margin-right: 54rem;
    height: 32px; /*How close the title to the icon */
    color: #9b9b9b
}

header span {
    color: black;
}

nav ul {
    display: inline-flex;
    justify-content: space-around;
}

nav {
    
    margin: 0;
}

li {
    list-style: none;
}

nav a {
    color: gray;
    text-decoration: none;
    padding-right: 24px;
}

/* banner section */

.banner {
    display: flex;
    background-color: #d8d8d8;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    box-sizing: border-box; 
}

.image {
    flex: 2 2;
    max-width: 60%;
}

.banner img {
    width: 94%;
    margin: 32px 0 32px 24px;
}

.banner-text {
    padding-top: 10rem;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    flex: 1 2;
    padding-left: 8px;
    flex-wrap: wrap;
}

.banner-text h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
}

.banner-text p {
    font-size: 1.5rem;
    text-align: left;
}

/*
.banner .box {
    background-color: #238279;
    padding: 8px 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 346px;
}

.box a {
    color: white;
    background-size: 3rem;

    text-decoration: none; 
}
*/
/* Removing underline from link */

.button {
    background-color: #238279;
    background-size: 3rem;
    padding: 8px 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 450px;
    border-color: #d8d8d8;
}
.banner a:visited {
    color: #238279;
    border-color: #238279;
}

.button:hover {
    background-color: white;
    color: #238279;
}

/* Information Section */

.information {
    display: flex;
    /* width: 70%; */
}

.main-image {
    max-width:60%;
}

.main-image img {
    max-width: 94%;
    flex-grow: 2;
    padding: 32px 24px;
}

.main-image h3 {
    font-size: 1.75rem;
    margin: 0 0 24px 24px;
}

.main-image p {
    font-size: 1.2rem;
    margin: 24px;
}

.information .demo, .thesis-exhibit .demo {
    width: 40%;
}

.information .demo {
    border-style: ridge;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.orientation, .campus, .guest-lecture {
    display: flex;
}

.wording a {
    color: #5896e5;
    text-decoration: none;
}

/* courses section */

.start-learning {
    font-size: 2rem;
    text-align: center;
    background-color: #d8d8d8;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 32px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 72px;
    background-color: #d8d8d8;
}

.group h3 { /* this part is complete */
    color: black;
    padding: 16px 0 16px 16px;
    margin: 0;
}

.group p {
    padding: 8px 0 24px 16px;
    margin: 0;
    
}

.group {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
}

.group img {
    height: auto;
    width: 100%;
}

.group .type {
    margin: 0;
    padding: 0 0 0 16px;
    text-align: left;
}

.software, .computer-art, .design, .data, .business, .marketing {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 16px solid #d8d8d8; /* creating border around element */
    opacity: 85%;
    
}

.software:hover, .computer-art:hover, .design:hover, .data:hover, .business:hover, .marketing:hover{
    border: 1px solid black;
}    


/* thesis exhibit section */

.thesis-title {
    font-size: 2rem;
    text-align: center;
    margin-top:32px;
    margin-bottom: 32px;
}

.thesis-exhibit {
    display: flex; 
    justify-content: space-between;   
   /*width: 70%;*/
}

.thesis-heading img {
    width: 94%;
    height: auto;
    padding: 0 0 0 24px;
}

.thesis-heading p {
    padding: 8px 24px 32px 24px;
    margin: 0;
    font-size: 1.09rem;
}

.thesis-heading h3 {
    margin: 0;
    padding-top: 24px;
    padding-left: 24px;
}

.thesis-exhibit .demo {
    min-width: 40%;
    display: flex;
    flex-direction: column;
}

.fisma, .now-and-then {
    display: flex;
    min-width: 400px;
    height: auto;
}


/* universal blocks */

.fisma, .guest-lecture, .courses {
    background-color: #d8d8d8;
}

.orientation img, .campus img, .guest-lecture img, 
.fisma img, .now-and-then img {
    width: 35%;
    height: auto;
    margin: 16px;
}

/* .information img {
    width: 94%;
    margin: 32px 24px;
} */

.orientation .wording, .campus .wording, .guest-lecture .wording, 
.fisma .wording, .now-and-then .wording {
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.information p, .courses p, .thesis-exhibit p {
    color: #868786;
}

/* footer */

footer {
    padding-top: 16px;
    height: 50px;
    margin: 0;
}

footer p {
    padding-top: 16px;
    padding-left: 24px;
    margin: 0;
    border-top: 1px solid #d8d8d8;
    color: #868786
}
/* float right with a{} allows the words to be placed
on the right. Padding-right puts space between words.*/
footer a {
    float: right;
    padding-right: 24px;
    color:#868786;
    font-size: 1.05rem;
    text-decoration: none;
}